﻿@using MyTask.UI.Infrastructure
@model MyTask.UI.Models.ProjectViewModel
@{
    ViewBag.Title = "Edit - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edit - @Html.DisplayFor(pr=>pr.Name)</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("EditProject", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(pr=>pr.Id)
            <div class="form-group">
                @Html.LabelFor(pr=>pr.Name, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(pr=>pr.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(pr=>pr.StartDate, new { @class = "col-xs-2 control-label" })
                <div class="datepicker">
                    @Html.DatepickerFor(pr=>pr.StartDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(pr => pr.EndDate, new { @class = "col-xs-2 control-label" })
                <div class="datepicker">
                    @Html.DatepickerFor(pr => pr.EndDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(pr => pr.Description, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextAreaFor(pr => pr.Description, new { @class = "form-control", rows = "3" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        <div>
    @Html.ActionLink("Add new Task", "CreateTask", "Admin", new { id = Model.Id }, new { @class = "btn btn-default btn-sm" })
</div>
        }
    </div>
</div>
