﻿@model IEnumerable<MyTask.UI.Models.ProjectViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The following projects are in the base:</h2>

<table class="table table-responsive table-hover table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proj in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(p => proj.Name)
                </td>
                <td>
                    @Html.DisplayFor(p => proj.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(p => proj.EndDate)
                </td>
                <th>
                    @Html.ActionLink("Edit", "EditProject", "Admin", new { id = proj.Id }, new { @class = "btn btn-default btn-sm" })
                </th>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Add new Project", "CreateProject", "Admin")
</div>


