﻿@model IEnumerable<MyTask.UI.Models.TaskReportViewModel>

<h2>Your Reports</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date of Report</th>
            <th>Created Date</th>
            <th>Edited Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(t => report.DateOfReport)
                </td>
                <td>
                    @Html.DisplayFor(t => report.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(t => report.EditedDate)
                </td>
                <th>
                    @Html.ActionLink("Description", "Description", "TaskReport", new { reportId = report.Id }, new { @class = "btn btn-default btn-sm" })
                </th>
                <th>
                    @Html.ActionLink("Edit", "Edit", "TaskReport", new { reportId = report.Id }, new { @class = "btn btn-default btn-sm" })
                </th>
            </tr>
           
        }
    </tbody>
   
   
</table>

