﻿@model MyTask.UI.Models.TaskReportViewModel
@{
    ViewBag.Title = "Report " ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(pr => pr.DateOfReport):</strong> @Html.DisplayFor(pr => pr.DateOfReport)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(pr => pr.CreatedDate):</strong> @Html.DisplayFor(pr => pr.CreatedDate)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(pr => pr.EditedDate):</strong> @Html.DisplayFor(pr => pr.EditedDate)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(pr => pr.Description):</strong><br />@Html.DisplayFor(pr => pr.Description)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(pr => pr.Effort):</strong><br />@Html.DisplayFor(pr => pr.Effort)
                </div>
                

            </div>
        </div>
   


