﻿@model MyTask.UI.Models.ProjectViewModel
@{
    ViewBag.Title = "Description - " + Model.Name;
   
}

<h2>Description</h2>

<div class="panel panel-default">
       <div class="panel-heading">
            <h3>@Html.DisplayFor(pr => pr.Name)</h3>
        
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(pr => pr.StartDate):</strong> @Html.DisplayFor(pr => pr.StartDate)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(pr => pr.EndDate):</strong> @Html.DisplayFor(pr => pr.EndDate)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(pr => pr.Description):</strong><br />@Html.DisplayFor(pr => pr.Description)
                </div>

            </div>
        </div>
    </div>
        @Html.Action("Index", "Tasks")
        
   
    
</div>