﻿@using Microsoft.AspNet.Identity;
@model MyTask.UI.Models.TasksViewModel
@{
    ViewBag.Title = "Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Description</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Html.DisplayFor(ts => ts.Name)</h3>

    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(ts => ts.StartDate):</strong> @Html.DisplayFor(pr => pr.StartDate)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(ts => ts.EndDate):</strong> @Html.DisplayFor(pr => pr.EndDate)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(ts => ts.Description):</strong><br />@Html.DisplayFor(pr => pr.Description)
                </div>
                <div class="top-buffer">
                    <strong class="text-uppercase">@Html.DisplayNameFor(ts => ts.State):</strong><br />@Html.DisplayFor(pr => pr.State)
                </div>
                <div class="top-buffer">
                   @if (User != null && User.Identity.IsAuthenticated)
                   {
                    @Html.Action("Index", "TaskReport", new { taskId = Model.Id, userId = User.Identity.GetUserId() })                   
                       <div>
                    @Html.ActionLink("Create new Report", "Create", "TaskReport", new { taskId = Model.Id }, new { @class = "btn btn-default btn-sm" })
                       </div>
                   }
                   
                </div>
            </div>
        </div>
    </div>
</div>