﻿@model IEnumerable<MyTask.UI.Models.TasksViewModel>

<h2>For your attention here next TASKS</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(t => task.Name)
                </td>
                <td>
                    @Html.DisplayFor(t => task.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(t => task.EndDate)
                </td>
                <th>
                    @Html.ActionLink("Description", "Description", "Tasks", new { id = task.Id }, new { @class = "btn btn-default btn-sm" })
                </th>
            </tr>
        }
    </tbody>
</table>
